@(name: String)

@main("Reactive Board !") {
	
  <h1>Reactive Board</h1>
  <div id="outer">
    <div id="board">
      <div id="board-container">
      </div>
      <div id="board-editors">
      </div>
    </div>
    <div id="msg-input">
      <div>
      <p>Enter your message:</p>
      <p>Name: <input type="text" id="input-name" name="name" value="@name"/></p>
      <p>Message: <textarea id="input-text" name="text"></textarea></p>
      <p><input type="submit" id="input-send" value="Send" onClick="sendMessage()"/></p>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/websocket.js")"></script>
}
