@(messages: List[model.Message])

@main("Welcome to Play") {
	
  <h1>Reactive Board</h1>
  <div id="outer">
    <div id="board">
      <div id="board-container">
      @messages.map{m =>
      	<div class="message"><span class="msg-name">@m.name</span> - <span class="msg-text">@m.text</span></div>
      }
      </div>
    </div>
    <div id="msg-input">
      <div>
      <form name="addMessage" action="form" method="get">
      <p>Enter your message:</p>
      <p>Name: <input type="text" id="input-name" name="name"/></p>
      <p>Message: <textarea id="input-text" name="text"></textarea></p>
      <p><input type="submit" id="input-send" value="Send"/></p>
      </form>
      </div>
    </div>
  </div>
}
